.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.810547;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.875488;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{width:8.316000px;}
._d{width:18.348000px;}
._0{width:20.724000px;}
._11{width:26.708000px;}
._6{width:29.436000px;}
._f{width:31.812000px;}
._e{width:34.848000px;}
._1{width:54.912000px;}
._25{width:58.168000px;}
._5{width:66.000000px;}
._20{width:79.948000px;}
._10{width:96.140000px;}
._c{width:100.056000px;}
._24{width:114.796000px;}
._22{width:142.252000px;}
._1c{width:146.168000px;}
._7{width:148.192000px;}
._1e{width:178.200000px;}
._1b{width:186.296000px;}
._a{width:212.388000px;}
._14{width:222.420000px;}
._21{width:262.504000px;}
._1a{width:266.464000px;}
._1f{width:286.528000px;}
._23{width:312.664000px;}
._b{width:344.740000px;}
._2{width:350.724000px;}
._3{width:370.832000px;}
._17{width:408.848000px;}
._18{width:442.948000px;}
._12{width:446.336000px;}
._15{width:452.980000px;}
._1d{width:455.004000px;}
._19{width:475.024000px;}
._13{width:478.412000px;}
._8{width:481.096000px;}
._9{width:483.120000px;}
._16{width:485.056000px;}
.fc1{color:rgb(38,38,38);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:24.000000px;}
.fs6{font-size:28.000000px;}
.fs3{font-size:36.000000px;}
.fs0{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs4{font-size:60.000000px;}
.fs2{font-size:76.000000px;}
.y4b{bottom:1.461996px;}
.y4f{bottom:5.430004px;}
.y46{bottom:8.010998px;}
.y45{bottom:14.895998px;}
.y0{bottom:15.000000px;}
.y4c{bottom:18.826975px;}
.y4e{bottom:19.945004px;}
.y44{bottom:21.780998px;}
.y3e{bottom:25.539969px;}
.y4a{bottom:25.608995px;}
.y43{bottom:28.665998px;}
.y4{bottom:29.108002px;}
.y4d{bottom:38.418002px;}
.y47{bottom:48.448973px;}
.y1{bottom:59.512999px;}
.y41{bottom:60.559998px;}
.y48{bottom:73.918014px;}
.y3{bottom:79.596001px;}
.y49{bottom:82.676970px;}
.y2{bottom:92.218001px;}
.y42{bottom:93.070986px;}
.y3d{bottom:113.569989px;}
.y40{bottom:115.728996px;}
.y3c{bottom:138.814008px;}
.y3f{bottom:143.267997px;}
.y3b{bottom:151.436017px;}
.y3a{bottom:164.267976px;}
.y39{bottom:188.155011px;}
.y38{bottom:200.776959px;}
.y37{bottom:213.398969px;}
.y36{bottom:226.020978px;}
.y35{bottom:238.642987px;}
.y34{bottom:252.411969px;}
.y33{bottom:268.475995px;}
.y32{bottom:281.098004px;}
.y31{bottom:293.720014px;}
.y30{bottom:306.341962px;}
.y2f{bottom:318.963971px;}
.y2e{bottom:332.733014px;}
.y2d{bottom:348.796979px;}
.y2c{bottom:361.418988px;}
.y2b{bottom:374.040998px;}
.y2a{bottom:386.662976px;}
.y29{bottom:399.284986px;}
.y28{bottom:411.906995px;}
.y27{bottom:424.528974px;}
.y26{bottom:437.150983px;}
.y25{bottom:449.772992px;}
.y24{bottom:462.395001px;}
.y23{bottom:475.016980px;}
.y22{bottom:487.638989px;}
.y21{bottom:500.260999px;}
.y20{bottom:512.882977px;}
.y1f{bottom:525.504987px;}
.y1e{bottom:538.126996px;}
.y1d{bottom:550.748975px;}
.y1c{bottom:563.370984px;}
.y1b{bottom:575.992993px;}
.y1a{bottom:588.614972px;}
.y19{bottom:601.236981px;}
.y18{bottom:620.742993px;}
.y17{bottom:633.364972px;}
.y16{bottom:645.986981px;}
.y15{bottom:658.608991px;}
.y14{bottom:671.230985px;}
.y13{bottom:683.852994px;}
.y12{bottom:696.474988px;}
.y11{bottom:709.096982px;}
.y10{bottom:721.718991px;}
.yf{bottom:734.340985px;}
.ye{bottom:746.962995px;}
.yd{bottom:759.584989px;}
.yc{bottom:772.206990px;}
.yb{bottom:785.975987px;}
.ya{bottom:804.029989px;}
.y9{bottom:821.241987px;}
.y8{bottom:848.664987px;}
.y7{bottom:859.622987px;}
.y6{bottom:875.005987px;}
.y5{bottom:895.954988px;}
.hc{height:17.484375px;}
.hf{height:20.042969px;}
.h6{height:26.226562px;}
.h8{height:32.033203px;}
.h3{height:32.054688px;}
.he{height:32.549995px;}
.h4{height:34.945312px;}
.h9{height:34.968750px;}
.hb{height:40.399998px;}
.h7{height:43.681641px;}
.h10{height:49.100002px;}
.h5{height:60.933594px;}
.hd{height:84.600014px;}
.h2{height:102.900002px;}
.ha{height:153.949997px;}
.h1{height:893.000000px;}
.h0{height:935.549988px;}
.w4{width:49.349998px;}
.w6{width:122.500003px;}
.w2{width:146.149997px;}
.w5{width:161.199985px;}
.w3{width:187.199982px;}
.w7{width:560.599963px;}
.w1{width:563.000000px;}
.w0{width:595.349976px;}
.x14{left:8.461000px;}
.x13{left:12.697000px;}
.x3{left:14.426000px;}
.x15{left:18.583000px;}
.x1b{left:20.425000px;}
.x17{left:21.573000px;}
.x19{left:23.500000px;}
.xf{left:24.529000px;}
.x0{left:29.000000px;}
.x18{left:31.105000px;}
.x2{left:44.492999px;}
.x11{left:46.841998px;}
.x10{left:49.626998px;}
.xa{left:56.700001px;}
.x16{left:63.650002px;}
.x1a{left:66.758998px;}
.xb{left:70.900000px;}
.xd{left:92.150000px;}
.x9{left:101.538004px;}
.x5{left:114.185002px;}
.x7{left:122.619000px;}
.x8{left:153.524004px;}
.x4{left:155.308003px;}
.x6{left:192.178998px;}
.x1{left:233.449997px;}
.xc{left:241.000006px;}
.x12{left:392.600005px;}
.xe{left:408.149994px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{width:11.088000pt;}
._d{width:24.464000pt;}
._0{width:27.632000pt;}
._11{width:35.610667pt;}
._6{width:39.248000pt;}
._f{width:42.416000pt;}
._e{width:46.464000pt;}
._1{width:73.216000pt;}
._25{width:77.557333pt;}
._5{width:88.000000pt;}
._20{width:106.597333pt;}
._10{width:128.186667pt;}
._c{width:133.408000pt;}
._24{width:153.061333pt;}
._22{width:189.669333pt;}
._1c{width:194.890667pt;}
._7{width:197.589333pt;}
._1e{width:237.600000pt;}
._1b{width:248.394667pt;}
._a{width:283.184000pt;}
._14{width:296.560000pt;}
._21{width:350.005333pt;}
._1a{width:355.285333pt;}
._1f{width:382.037333pt;}
._23{width:416.885333pt;}
._b{width:459.653333pt;}
._2{width:467.632000pt;}
._3{width:494.442667pt;}
._17{width:545.130667pt;}
._18{width:590.597333pt;}
._12{width:595.114667pt;}
._15{width:603.973333pt;}
._1d{width:606.672000pt;}
._19{width:633.365333pt;}
._13{width:637.882667pt;}
._8{width:641.461333pt;}
._9{width:644.160000pt;}
._16{width:646.741333pt;}
.fs5{font-size:32.000000pt;}
.fs6{font-size:37.333333pt;}
.fs3{font-size:48.000000pt;}
.fs0{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:80.000000pt;}
.fs2{font-size:101.333333pt;}
.y4b{bottom:1.949328pt;}
.y4f{bottom:7.240005pt;}
.y46{bottom:10.681330pt;}
.y45{bottom:19.861331pt;}
.y0{bottom:20.000000pt;}
.y4c{bottom:25.102633pt;}
.y4e{bottom:26.593338pt;}
.y44{bottom:29.041331pt;}
.y3e{bottom:34.053292pt;}
.y4a{bottom:34.145327pt;}
.y43{bottom:38.221330pt;}
.y4{bottom:38.810669pt;}
.y4d{bottom:51.224003pt;}
.y47{bottom:64.598631pt;}
.y1{bottom:79.350666pt;}
.y41{bottom:80.746663pt;}
.y48{bottom:98.557351pt;}
.y3{bottom:106.128001pt;}
.y49{bottom:110.235960pt;}
.y2{bottom:122.957335pt;}
.y42{bottom:124.094648pt;}
.y3d{bottom:151.426652pt;}
.y40{bottom:154.305328pt;}
.y3c{bottom:185.085344pt;}
.y3f{bottom:191.023996pt;}
.y3b{bottom:201.914689pt;}
.y3a{bottom:219.023968pt;}
.y39{bottom:250.873348pt;}
.y38{bottom:267.702613pt;}
.y37{bottom:284.531958pt;}
.y36{bottom:301.361304pt;}
.y35{bottom:318.190650pt;}
.y34{bottom:336.549292pt;}
.y33{bottom:357.967993pt;}
.y32{bottom:374.797339pt;}
.y31{bottom:391.626685pt;}
.y30{bottom:408.455949pt;}
.y2f{bottom:425.285295pt;}
.y2e{bottom:443.644019pt;}
.y2d{bottom:465.062639pt;}
.y2c{bottom:481.891984pt;}
.y2b{bottom:498.721330pt;}
.y2a{bottom:515.550635pt;}
.y29{bottom:532.379981pt;}
.y28{bottom:549.209326pt;}
.y27{bottom:566.038631pt;}
.y26{bottom:582.867977pt;}
.y25{bottom:599.697323pt;}
.y24{bottom:616.526669pt;}
.y23{bottom:633.355974pt;}
.y22{bottom:650.185319pt;}
.y21{bottom:667.014665pt;}
.y20{bottom:683.843970pt;}
.y1f{bottom:700.673316pt;}
.y1e{bottom:717.502661pt;}
.y1d{bottom:734.331966pt;}
.y1c{bottom:751.161312pt;}
.y1b{bottom:767.990658pt;}
.y1a{bottom:784.819963pt;}
.y19{bottom:801.649309pt;}
.y18{bottom:827.657324pt;}
.y17{bottom:844.486629pt;}
.y16{bottom:861.315975pt;}
.y15{bottom:878.145321pt;}
.y14{bottom:894.974646pt;}
.y13{bottom:911.803992pt;}
.y12{bottom:928.633317pt;}
.y11{bottom:945.462643pt;}
.y10{bottom:962.291988pt;}
.yf{bottom:979.121314pt;}
.ye{bottom:995.950659pt;}
.yd{bottom:1012.779985pt;}
.yc{bottom:1029.609320pt;}
.yb{bottom:1047.967983pt;}
.ya{bottom:1072.039986pt;}
.y9{bottom:1094.989316pt;}
.y8{bottom:1131.553315pt;}
.y7{bottom:1146.163982pt;}
.y6{bottom:1166.674650pt;}
.y5{bottom:1194.606650pt;}
.hc{height:23.312500pt;}
.hf{height:26.723958pt;}
.h6{height:34.968750pt;}
.h8{height:42.710938pt;}
.h3{height:42.739583pt;}
.he{height:43.399994pt;}
.h4{height:46.593750pt;}
.h9{height:46.625000pt;}
.hb{height:53.866664pt;}
.h7{height:58.242188pt;}
.h10{height:65.466670pt;}
.h5{height:81.244792pt;}
.hd{height:112.800018pt;}
.h2{height:137.200002pt;}
.ha{height:205.266663pt;}
.h1{height:1190.666667pt;}
.h0{height:1247.399984pt;}
.w4{width:65.799997pt;}
.w6{width:163.333337pt;}
.w2{width:194.866662pt;}
.w5{width:214.933313pt;}
.w3{width:249.599976pt;}
.w7{width:747.466618pt;}
.w1{width:750.666667pt;}
.w0{width:793.799967pt;}
.x14{left:11.281333pt;}
.x13{left:16.929333pt;}
.x3{left:19.234666pt;}
.x15{left:24.777333pt;}
.x1b{left:27.233333pt;}
.x17{left:28.764000pt;}
.x19{left:31.333333pt;}
.xf{left:32.705334pt;}
.x0{left:38.666667pt;}
.x18{left:41.473334pt;}
.x2{left:59.323999pt;}
.x11{left:62.455997pt;}
.x10{left:66.169331pt;}
.xa{left:75.600001pt;}
.x16{left:84.866669pt;}
.x1a{left:89.011997pt;}
.xb{left:94.533333pt;}
.xd{left:122.866666pt;}
.x9{left:135.384005pt;}
.x5{left:152.246670pt;}
.x7{left:163.492001pt;}
.x8{left:204.698672pt;}
.x4{left:207.077338pt;}
.x6{left:256.238664pt;}
.x1{left:311.266663pt;}
.xc{left:321.333341pt;}
.x12{left:523.466673pt;}
.xe{left:544.199992pt;}
}
